@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="overflow-x:hidden;">

    <h1>@ViewData["Title"]</h1>

    <p>
        <b>Privacy Policy for Uno the Chinese card game</b><br>
        Last Updated: 05.01.2024<br>
        <br>
        Welcome to Uno! Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you play our online Uno-like card game. Please read this policy carefully to understand our practices regarding your information.<br>
        <br>
        <b>1. Information Collection</b><br>
        <br>
        Our game might not be original, but our data collection is!<br>
        We collect information that you provide directly to us when you use our services. This may include:<br>
        <br>
        Account Information: Username, password, and other information used to create an account.<br>
        Gameplay Data: Information about your in-game actions, levels, and progress.<br>
        Payment Information: If any in-app purchases are made, we collect payment and billing information through our payment processing partners.<br>
        <br>
        <b>2. Information Use</b><br>
        <br>
        We use the information we collect to:<br>
        <br>
        Provide and maintain the game.<br>
        Improve gaming experience.<br>
        Communicate with you, including game updates and customer support.<br>
        Detect, investigate, and prevent fraudulent transactions and other illegal activities.<br>
        <br>
        <b>3. Sharing Is Caring (But Not Too Much)</b><br>
        <br>
        We may share your information with:<br>
        <br>
        Service providers who perform services on our behalf.<br>
        Law enforcement or other parties for legal reasons, such as to comply with the law or a regulatory requirement.<br>
        Big Brother: But only if the law asks us nicely.<br>
        <br>
        <b>4. Data Security</b><br>
        <br>
        We implement a variety of security measures to maintain the safety of your personal information.<br>
        <br>
        <b>5. Children's Privacy</b><br>
        <br>
        Our game is not suitable for children under the age of 3 due to gambling and pornographic content. We do not knowingly collect personal information from children under this age.<br>
        <br>
        <b>6. Changes to This Policy</b><br>
        <br>
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br>
        <br>
        <b>7. Contact Us</b><br>
        <br>
        If you have any questions about this Privacy Policy, please contact us at 随机用户@电子邮件.cn. Our team of semi-professionals eagerly awaits.<br>
    </p>

</body>