@page
@model Index
@{
    ViewData["Title"] = "Creating game";
}

<body style="background-color: black;color: white;">
<h5>Creating...</h5>
    
</body>
<style>
    :root {
      --bs-body-bg(black);
      --bs-body(white);
    }
</style>
